[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=Access the Internet
Exec=/usr/bin/google-chrome-stable %U --no-sandbox
Icon=google-chrome
Path=
Terminal=false
StartupNotify=true
